body{
   background-color:  #568EA6;;
   margin: 80px;
}


h1{
    text-align: center;
    margin: 10px auto;
    color: #f1d1b5;
    text-shadow: 3px 3px 1px black;
    font-size: 50px;
}

.one{
    background-color: #305f72;
    border: 5px solid #f0b7a4;
    margin: 40px;
    padding: 7px 5px;
}

h3{
    text-align: center;
    margin: 20px auto;
    color: #f18C8E;
    font-size: 25px;
    font-style: italic;
}

.head{
    text-align: center;
    margin: 25px auto;
    color: #f18C8E;
    font-size: 25px;
    font-style: normal;
}

#blurb{
    font-family: 'Italianno', cursive;
    font-size: 40px
}

.rate{
    text-align: center;
    color: #f0b7a4;
    font-size: 20px;
}

.text{
    text-align: center;
    color: #f0b7a4;
    font-size: 20px;
    margin-bottom: 40px;
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
  }